default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.1

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  adapter: postgresql
  host: <%= ENV.fetch("DB_HOST", "172.17.0.1") %>
  database: <%= ENV.fetch("DB_NAME", "aoka_production") %>
  username: <%= ENV.fetch("DB_USER", "aoka") %>
  password: <%= ENV.fetch("DB_PASSWORD", "reliant2015!") %>
  pool: 5
